{% extends 'base.html' %}
{% load static %}
{% block loader %}
   <div id="preloader">
  <img src="{% static 'assets/img/2x-plain.gif' %}" class="img-fluid">
  </div>
{% endblock loader %}

{% block content %}

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>About</h2>
                    <p>Sushiksha</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 video-box align-self-baseline order-1 order-lg-2" data-aos="fade-left"
                         data-aos-delay="100">
                        <img src="{% static 'assets/img/scl-main.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Sushiksha Coding League</h3>
                        <p>
                            Sushiksha Coding League or SCL a two month long hackathon organized for the scholars of the Sushiksha Mentoring Program
                            by the mentors from the VKSSF Alumni Association(VAA), which upholds the motto of "Anybody can code".
                            The very first season of SCL was started off on a grand note in 2020 by Venkatesh Prabhu, a VKSSF alumni from the 2012 batch,
                            with various workshops conducted on Python, Web Development Basics, Git, Software Development Life Cycle to give the scholars
                            a good foundation on the basics of programming. This coding event is aimed at fostering knowledge development, technology and leadership skills
                            as well as collaboration and working as a part of a team. In the last season of SCL, 17 teams displayed their projects in the grand showcase held
                            at the end of hackathon with teams winning awards in various categories.

                        </p>

                        <a href="{% url 'about' %}" class="get-started-btn-special">Learn More</a>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
<!--        &lt;!&ndash; ======= Counts Section ======= &ndash;&gt;-->
<!--        <section id="counts" class="counts section-bg">-->
<!--            <div class="container" data-aos="fade-in">-->
<!--                <div class="row counters">-->
<!--                    <div class="col-lg-3 col-6 text-center">-->
<!--                        <span data-toggle="counter-up">170</span>-->
<!--                        <p>Mentees</p>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-6 text-center">-->
<!--                        <span data-toggle="counter-up">20</span>-->
<!--                        <p>Mentors</p>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-6 text-center">-->
<!--                        <span data-toggle="counter-up">10</span>-->
<!--                        <p>Events</p>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-6 text-center">-->
<!--                        <span data-toggle="counter-up">15</span>-->
<!--                        <p>Projects</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>&lt;!&ndash; End Counts Section &ndash;&gt;-->

{% endblock content %}
